{% extends 'base.html.twig' %}

{% block title %}Compte non activé{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/registration/inactiveAccount.css') }}" />
{% endblock %}

{% block body %}
	<p class="text-white mb-5">⛔️ Votre compte doit être validé par un employé ⛔️</p>
	<a href="{{ path('app_login') }}" class="goBackLink">Page de connexion</a>
{% endblock %}