footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	height: 60px;
	background: linear-gradient(#304769, #0C1E37);
}

footer a {
	color: white;
}

footer a:hover {
	color: #FFC108;
}

@media screen and (max-width: 600px) {
	footer a {
		font-size: 12px;
	}
}