.bookImage {
	height: 200px;
	width: 150px;
	object-fit: contain;
}

h3 {
	font-size: 20px;
}

.genre {
	cursor: pointer;
}

.active {
	background-color: #FFC20C;
	border-radius: 10px;
	padding: 3px;
}