{% extends 'base.html.twig' %}

{% block title %}Cookies & RGPD{% endblock %}

{% block body %}
    <main class="p-5">
        <h1 class="text-center my-4">Confidentialité et traitement des données</h1>
 
		<p>Confidentialité et traitement des données, conformément à la législation française en particulier aux dispositions de la loi du
		6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, le site mediatheque-studi.herokuapp.com fait l’objet d’une dispense de
		déclaration à la CNIL (Dispense n°7 : Délibération n°2006-138 du 9 mai 2006 décidant de la dispense de déclaration des traitements
		constitués à des fins d’information ou de communication externe).</p>

		<h2 class="my-4">Les cookies</h2>
		
		<p>Les cookies sont des petits fichiers qui permettent de mémoriser des données relatives à l’internaute lorsque celui-ci se connecte
		à un site Internet. Nous utilisons ce système afin de mémoriser des informations destinées à faciliter votre navigation. Il ne s’agit
		en aucun cas de mémoriser des données personnelles vous concernant. Lors de votre connexion au site mediatheque-studi.herokuapp.com, un fichier
		dit « log » stocke les connections effectuées par votre ordinateur (via son adresse IP) au serveur de notre hébergeur. Ses données ne
		sont utilisées que pour l’établissement de statistiques par mediatheque-studi.herokuapp.com.</p>

		<p>Des « cookies » sont également utilisés par certains services indépendants de mediatheque-studi.herokuapp.com afin de garder en mémoire
		vos identifications sur des sites sociaux ou de délivrer de la publicité ciblée.</p>

		<p>Google Analytics utilise des cookies pour élaborer des statistiques : plus d’information<br />
		Google : Règles de confidentialité et conditions d’utilisation</p>

		<h2 class="my-4">Comment contrôler les cookies</h2>

		<p>Vous avez naturellement le contrôle sur la gestion de ces petits fichiers. La CNIL propose à ce sujet un dossier complet nommé Maîtriser
		mes données. Vous pouvez contrôler et/ou supprimer des cookies comme vous le souhaitez. Pour en savoir plus, consultez aboutcookies.org.</p>

		<p>Vous avez la possibilité de supprimer tous les cookies déjà stockés sur votre ordinateur et de configurer la plupart des navigateurs pour
		qu’ils les bloquent. Toutefois, dans ce cas, vous devrez peut-être indiquer vous-mêmes certaines préférences chaque fois que vous vous rendrez
		sur un site, et certains services et fonctionnalités risquent de ne pas être accessibles.</p>

    </main>
{% endblock %}
