<footer class="d-flex justify-content-between align-items-center p-2">
	<a href="{{ path('privacy_politic') }}" class="text-decoration-none cursor-pointer">Mentions légales</a>
	<a href="#" class="text-decoration-none">© Jonathan Viault</a>
	<a href="{{ path('cookies_politic') }}" class="text-decoration-none cursor-pointer">Cookies & RGPD</a>
</footer>