<footer class="d-flex justify-content-between align-items-center p-2">
	<a href="" class="text-decoration-none cursor-pointer">Mentions légales</a>
	<span class="text-white">© Jonathan Viault</span>
	<a href="" class="text-decoration-none cursor-pointer">Cookies & RGPD</a>
</footer>