body {
	background: linear-gradient(#304769, #0C1E37);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

p {
	font-size: 30px;
}

.goBackLink {
	font-size: 25px;
}

@media screen and (max-width: 750px) {
	p {
		font-size: 20px;
	}
	
	a {
		font-size: 15px;
	}
}