body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('../../images/mediatheque-background.jpg');
	background-position: center;
	background-size: cover;	
}

form {
	max-height: 800px;
	color: white;
	height: 80vh;
	border: 1px solid black;
	padding: 30px;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: linear-gradient(#304769, #0C1E37);
}

h1 {
	margin-bottom: 50px;
	white-space: nowrap;
	text-align: center;
}

input, select {
	margin-bottom: 25px;
}

span {
	margin-bottom: 5px;
}

/* very low height screens */
@media screen and (max-height: 649px) {
	h1 {
		font-size: 20px;
		margin-bottom: 20px;
	}
	form {
		height: 90vh;
	}
	input {
		height: 18px;
	}
	span {
		font-size: 10px;
	}
}

/* low height screens */
@media screen and (min-height: 650px) and (max-height: 849px) {
	h1 {
		font-size: 15px;
		margin-bottom: 10px;
	}
	form {
		height: 80vh;
	}
	input {
		height: 15px;
	}
	span {
		font-size: 12px;
	}
	.registerBtn {
		font-size: 12px;
	}
	
}

/* medium height screens */
@media screen and (min-height: 850px) and (max-height: 1050px) {
	h1 {
		font-size: 25px;
		margin-bottom: 20px;
	}
	input {
		height: 22px;
	}
	form {
		height: 75vh;
	}
}

/* desktop size */
@media screen and (min-width: 1200px) and (max-width: 1999px) {
	form {
		width: 35vw;
	}
}

/* large desktop size */
@media screen and (min-width: 2000px) {
	form {
		width: 25vw;
	}
}

li {
	color: #f56528;
}