form {
	width: 80vw;
}

input,
select,
textarea {
	margin-bottom: 15px;
}

label {
	margin-bottom: 5px;
}

li {
	color: #C63840;
}

@media screen and (min-width: 800px) and (max-width: 1399px) {
	form {
		width: 45%;
	}
}

@media screen and (min-width: 1400px) and (max-width: 2199px) {
	form {
		width: 40%;
	}
}

@media screen and (min-width: 2200px) {
	form {
		width: 30%;
	}
}