form {
	width: 80vw;
}

input,
select,
textarea {
	margin-bottom: 15px;
}

label {
	margin-bottom: 5px;
}

li {
	color: #C63840;
}

/* Responsive height */

@media screen and (max-height: 700px) {
	.formSection {
		height: 65vh;
		overflow-y: scroll;
	}
}

@media screen and (min-height: 700px) and (max-height: 999px) {
	.formSection {
		height: 75vh;
		overflow-y: scroll;
	}
}

@media screen and (min-height: 1000px) and (max-height: 1200px) {
	.formSection {
		height: 80vh;
		overflow-y: scroll;
	}
}

/* Responsive for form design */

@media screen and (min-width: 800px) and (max-width: 1399px) {
	form {
		width: 45%;
	}
}

@media screen and (min-width: 1400px) and (max-width: 2199px) {
	form {
		width: 40%;
	}
}

@media screen and (min-width: 2200px) {
	form {
		width: 30%;
	}
}