body {
	padding: 0;
}

.mainContainer {
	background-color: #E9EAED;
	height: calc(100vh - 80px - 50px);
}

/* Mobile ********************************************************************************/

.mobileHeader {
	background: linear-gradient(#304769, #0C1E37);
	height: 80px;
}

/* 'Compte inscrit' or 'Compte employé' */
.mobileProfilTitle {
	font-size: 22px;
	white-space: nowrap;
}

.closeBtn {
	font-size: 30px;
	cursor: pointer;
}

svg {
	cursor: pointer;
}

.navContainer {
	position: fixed;
	bottom: 0;
	top: 80px;
	left: 0;
	right: 0;
	background: linear-gradient(#304769, #0C1E37);
	height: calc(100vh - 80px);
	z-index: 10;
}

/* navigation links */
.navContainer a {
	font-size: 25px;
	text-decoration: none; 
}

/* Desktop ********************************************************************************/

.navLink {
	font-size: 14px;
	white-space: nowrap;
	text-decoration: none;
}

.desktopProfilTitle {
	font-size: 20px;
	white-space: nowrap;
}

#desktopProfil {
	background: linear-gradient(#304769, #0C1E37);
	height: 80px;
}

	.no-active {
		color: white;
	}

	.no-active:hover {
		color: #F5BB0A;
	}

	/* Responsive design *********************************************************************/

	/* [for desktop] show desktop profil & hide mobile profil */
	@media screen and (min-width: 1000px) {
		#desktopProfil {
			display: flex;
		}
		#mobileHeaderOff {
			display: none !important; /* keep mobile header hidden when on desktop*/
		}
	}

	/* [for mobiles] show mobile profil & hide desktop profil */
	@media screen and (max-width: 999px) {
		#desktopProfil {
			display: none;
		}
		#mobileHeaderOff {
			display: flex;
		}
	}

	@media screen and (min-width: 1400px) {
		.navLink {
			font-size: 18px;
		}
	}

