.accountsContainer {
	overflow-y: scroll;
}

/* Responsive about height of screen */

@media screen and (max-height: 699px) {
	.accountsContainer {
		height: 55vh;
	}
}

@media screen and (min-height: 700px) and (max-height: 1000px) {
	.accountsContainer {
		height: 60vh;
	}
}

/* Responsive for design */

@media screen and (max-width: 999px) {
	.accountsContainer {
		width: 100%;
		overflow-x: scroll;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1399px) {
	.accountsContainer {
		width: 70%;
	}
}

@media screen and (min-width: 1400px) and (max-width: 2199px) {
	.accountsContainer {
		width: 55%;
	}
}

@media screen and (min-width: 2200px) {
	.accountsContainer {
		width: 35%;
	}
}